server {
    listen       80;
    server_name  {{ item.value.servernames | join(" ") }} {{ ansible_default_ipv4["address"] }} localhost;

    root   /var/www/{{ item.key }}/current/public;
    index index.php;

    # Temporary
    auth_basic "BETA";
    auth_basic_user_file /etc/nginx/.htpasswd;

    access_log  /var/log/nginx/{{ item.value.servernames[0] }}-access.log;
    error_log  /var/log/nginx/{{ item.value.servernames[0] }}-error.log error;

    # Requests for images can be cached with a query param.
    set $skip_fcgi_cache 1;
    if ($request_uri ~ ^\/image\/.*cache=1.*$) {
       set $skip_fcgi_cache 0;
    }

    location / {
        set $skip_fcgi_cache 1;
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_read_timeout 1200;
        include fastcgi_params;

        ## FCGI caching ##
        fastcgi_cache gobelinsimg;
        fastcgi_cache_valid any 1y;
        fastcgi_cache_use_stale updating error timeout invalid_header http_500;
        fastcgi_ignore_headers Set-Cookie;
        fastcgi_cache_bypass $skip_fcgi_cache;
        fastcgi_no_cache $skip_fcgi_cache;
        add_header X-Cache $upstream_cache_status;

    }
}
