APP_NAME="MN/Lab"
APP_ENV=production
APP_KEY={{ dotenv.gobelins_app_key }}
APP_DEBUG=false
DEBUGBAR_ENABLED=false
APP_URL=https://collection.mobiliernational.culture.gouv.fr

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=gobelins
DB_USERNAME=gobelins
DB_PASSWORD={{ dotenv.gobelins_postgres_password }}

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=sendmail
MAIL_SENDMAIL='/usr/sbin/sendmail -bs'
MAIL_FROM_ADDRESS='documentation.mobilier@culture.gouv.fr'
MAIL_FROM_NAME='Mobilier National'
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
MIX_SENTRY_ENV="${APP_ENV}"

DATASOURCE_BASEURI=https://datasource.collection.mobiliernational.culture.gouv.fr
DATASOURCE_USERNAME="{{ dotenv.datasource_username }}"
DATASOURCE_PASSWORD="{{ dotenv.datasource_password }}"

# Relative to Laravel storage folder.
MEDIA_STORAGE_PATH=app/media

MIX_COLLECTION_DSN="${APP_URL}/rechercher"

HTTP_AUTH_USERNAME="{{ dotenv.http_auth_username }}"
HTTP_AUTH_PASSWORD="{{ dotenv.http_auth_password }}"

MOB_NAT_USER_PASSWORD="{{ dotenv.mob_nat_password }}"

TRUSTED_PROXIES="127.0.0.1,REMOTE_ADDR"

# List of emails of the OAI-PMH repository
# Must be a comma separated string.
OAI_ADMIN_EMAILS="ned@baldessin.fr, documentation.mobilier@culture.gouv.fr"

MEDIA_LIBRARY_ENDPOINT_TYPE=local
MEDIA_LIBRARY_IMAGE_SERVICE=A17\Twill\Services\MediaLibrary\Glide
MEDIA_LIBRARY_LOCAL_PATH=uploads

